.row{
    border: 2px #bdaaaa solid;
    border-radius: 25px;
}

.car-details{
    font-weight: bold;
    color:#8fa4b3;
    display: flex;
}

.car-details span{
margin: 0px 0px 0 10px;

}

hr{
    border: 1px solid #bccedb;
}

.btn-rent{
    float:right;
    padding:10px 15px;
    background-color: #54748c;
    color:white;
    border-radius:10px;
    font-size: 22px;
    cursor: pointer;
}
    